<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
    <h2 style = "text-align: center; margin-top:10px;">About Page</h2>
    <div class="row mt-3">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link text-light" style="font-size: 18px;" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-light" style="font-size: 18px;" aria-current="page" href="/contact-us">Contact Us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-light" style="font-size: 18px;" aria-current="page" href="/blogs/create-blogs">Create Blogs</a>
                      </li>   
                    </ul>
                    
                  </div>
                </div>
              </nav>
        </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
          <h5 class="mt-3">Hello! We’d like to make sure that your contact submission/feedback is directed to the appropriate team at this Blog.
             Please read through the following carefully before submitting below:</h5>
             <p>We can only address issues related to this blog . We are not affiliated with the sites we write about.
              For more information on advertising, please see our Advertising Information Page first.
              If you would like to use our blog's Logo or any content on your site, 
              please contact us via Customer Support so that we may look into your request. Please be as detailed as possible.</p>
              <p>Please follow the guidelines below to reach the BLOG team:
                Please direct mail to the following addresses:</p>
          <h5>News Submissions (news@...)
          </h5>
          <p>Have a tip, update, or press release? (This is the only BLOG address that reaches our editorial team.)</p>
          <h5>Advertising and Sponsorship Opportunities (advertising@...)
          </h5>
          <p>See here for more information
          </p>
          <h5>Customer Support, Feedback, and Suggestions (support@...)
          </h5>
          <p>Do you see something that we can improve? Have you experienced a technical issue that we need to be aware of?
          </p>
          <h5>Events and Calendar (events@...)
          </h5>
          <p>Be a part of BLOG’s events. Just ask — we might be looking for corporate sponsorship opportunities.
          </p>
          <h5>Business Inquiries and Partnerships (bizdev@...)
          </h5>
          <p>BLOG is always looking for new ideas and partnerships.
          </p>
          <h5>Reprints or Permission to use BLOG articles (licensing@...)
          </h5>
          <p>If you would like to reprint a BLOG article or use it as promotion on your own site contact us here.
          </p>
          <h5>Press Inquiries (press@...)
          </h5>
          <p>Our editors and reporters are regularly featured in the media as experts. Contact us to get their advice or schedule an interview..
          </p>
          <h5>Other Inquiries (contact@...)
          </h5>
          <p>If something didn’t quite fit into the above, contact us here. Please do not send press releases or news requests to this address (Note: We can only address issues related to MASHABLE.COM. We are not affiliated with the sites we blog about).

          </p>

      </div>
    </div>
        
</div>
</body>
</html>